.body {
	background-color: #2B515D !important;
}

.container {
	background-color: #ECF1F2;
	max-width: 900px !important;
	padding: 30px;
	border-radius: 20px;
	margin-top: 7%;
}

.text {
	font-family: lexend;
	font-weight: 200;
}

.bigtext {
	font-family: lexend;
	font-weight: 200;
	color: #8FB3B9;
}

img {
	max-width: 90%;
}

input {
	border: none !important;
	width: 90%;
	border-radius: 20px !important;
	background-color: #BCCFD8;
	color: #2B515D;
}

.btn {
	background-color: #2B515D !important;
	border-radius: 30px !important;
	color: #ECF1F2 !important;
	font-family: lexend !important;
	font-weight: 200 !important;
}

pts {
	font-family: lexend;
	font-weight: 200;
	color: #8FB3B9;
}

.footer {
	bottom: 0;
	vertical-align: middle;
	position: fixed;
	width: 100%;
	padding: 10px;
	text-align: center;
	background-color: #8FB3B9;
	height: 45px;
	font-family: Lexend;
	font-weight: 200;
	color: #ECF1F2;
}

a {
	font-family: Lexend !important;
	font-weight: 200 !important;
	color: #ECF1F2 !important;
	text-decoration: none !important;
}